In [93]:
import pandas as pd
from sodapy import Socrata
#Import dependancy 
import matplotlib.pyplot as plt
import numpy as np
import requests
import time
from scipy.stats import linregress


La_crime_path='Arrest_Data_from_2010_to_2019.csv'
La_crime=pd.read_csv(La_crime_path)


La_crime_df=pd.DataFrame(La_crime)
La_crime_df

,Report ID,Report Type,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,...,Disposition Description,Address,Cross Street,LAT,LON,Location,Booking Date,Booking Time,Booking Location,Booking Location Code
0,140204136,RFC,01/01/2014,1930.0,2,Rampart,246,36,M,B,...,MISDEMEANOR COMPLAINT FILED,600 S ALVARADO ST,NaN,34.0596,-118.2749,POINT (-118.2749 34.0596),NaN,NaN,NaN,NaN
1,141404255,RFC,01/01/2014,1725.0,14,Pacific,1412,36,M,W,...,MISDEMEANOR COMPLAINT FILED,OCEAN FRONT,ROSE,33.9947,-118.4805,POINT (-118.4805 33.9947),NaN,NaN,NaN,NaN
2,140904046,RFC,01/01/2014,130.0,9,Van Nuys,989,26,M,W,...,MISDEMEANOR COMPLAINT FILED,13600 MOORPARK ST,NaN,34.1504,-118.4296,POINT (-118.4296 34.1504),NaN,NaN,NaN,NaN
3,141404247,RFC,01/01/2014,1740.0,14,Pacific,1412,21,M,W,...,MISDEMEANOR COMPLAINT FILED,PARK,OCEAN FRONT,33.9913,-118.4775,POINT (-118.4775 33.9913),NaN,NaN,NaN,NaN
4,141404252,RFC,01/01/2014,1650.0,14,Pacific,1431,20,M,W,...,MISDEMEANOR COMPLAINT FILED,MARKET,OCEAN FRONT,33.9875,-118.4741,POINT (-118.4741 33.9875),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680958,5835175,BOOKING,12/31/2019,300.0,19,Mission,1911,26,M,H,...,FELONY COMPLAINT FILED,ROXFORD,ENCINITAS,34.3039,-118.4789,POINT (-118.4789 34.3039),12/31/2019 12:00:00 AM,605.0,VALLEY - JAIL DIV,4279.0
680959,5835176,BOOKING,12/31/2019,359.0,11,Northeast,1159,44,M,H,...,NaN,AVENUE 43,HOMER ST,34.0994,-118.2035,POINT (-118.2035 34.0994),12/31/2019 12:00:00 AM,606.0,77TH ST,4212.0
680960,5835272,BOOKING,12/31/2019,910.0,21,Topanga,2144,22,M,W,...,NaN,FALLBROOK,OXNARD,34.1792,-118.6233,POINT (-118.6233 34.1792),12/31/2019 12:00:00 AM,1040.0,VALLEY - JAIL DIV,4279.0
680961,5835308,BOOKING,12/31/2019,1010.0,9,Van Nuys,969,26,M,H,...,FELONY COMPLAINT FILED,12500 RIVERSIDE DR,NaN,34.1576,-118.4052,POINT (-118.4052 34.1576),12/31/2019 12:00:00 AM,1201.0,VALLEY - JAIL DIV,4279.0
680962,5835314,BOOKING,12/31/2019,1205.0,9,Van Nuys,935,47,M,W,...,NaN,14400 ERWIN STREET,NaN,34.1837,-118.4465,POINT (-118.4465 34.1837),12/31/2019 12:00:00 AM,1212.0,VALLEY - JAIL DIV,4279.0

In [19]:
new_crime_df=La_crime_df.drop(columns=['Report ID','Report Type','Time','Area ID','Area Name','Reporting District','Descent Code','Charge Group Code','Charge Group Description','Arrest Type Code','Charge','Address','Cross Street','Location','Booking Date','Booking Time','Booking Location','Booking Location Code','Disposition Description'])
new_crime_df

,Arrest Date,Age,Sex Code,Charge Description,LAT,LON
0,01/01/2014,36,M,NaN,34.0596,-118.2749
1,01/01/2014,36,M,NaN,33.9947,-118.4805
2,01/01/2014,26,M,NaN,34.1504,-118.4296
3,01/01/2014,21,M,NaN,33.9913,-118.4775
4,01/01/2014,20,M,NaN,33.9875,-118.4741
...,...,...,...,...,...,...
680958,12/31/2019,26,M,TRANSPORT/SELL/ETC CONTROLLED SUBSTANCE,34.3039,-118.4789
680959,12/31/2019,44,M,DRUNK DRIVING ALCOHOL/DRUGS,34.0994,-118.2035
680960,12/31/2019,22,M,OBSTRUCT/RESIST EXECUTIVE OFFICER,34.1792,-118.6233
680961,12/31/2019,26,M,WARRANT-PETITION TO REVOKE COMMUNITY SUPVN,34.1576,-118.4052
680962,12/31/2019,47,M,POSSESSION OF CONTROLLED SUBSTANCE,34.1837,-118.4465

In [3]:
crime_s = La_crime_df["Charge Description"].value_counts()
crime_s

DRUNK DRIVING ALCOHOL/DRUGS                 47684
CORPORAL INJURY ON SPOUSE/COHABITANT/ETC    28319
POSSESSION CONTROLLED SUBSTANCE             24776
DRINKING IN PUBLIC                          23006
SIT/LIE/SLEEP SIDEWALK OR STREET            15845
                                            ...
MFG/SELL/POSS ETC UNCONVENTIONAL PISTOL         1
POSSESSION METHAQUALONE/MECLOQUALONE            1
CONSPIRACY - THEFT OF PROPERTY                  1
FAIL TO STOP AT R/R CROSSING SIGNAL             1
POSSESS/ETC NONCONFORMING PRESCRIPTION          1
Name: Charge Description, Length: 1920, dtype: int64

In [4]:
crime_s.to_csv('Crime_list.csv')

In [76]:
new_crime_df.index=pd.to_datetime(new_crime_df.index)
new_crime_df['Arrest Date'] = pd.to_datetime(new_crime_df['Arrest Date'], errors='coerce')

In [77]:
new_crime_df['day'] = new_crime_df['Arrest Date'].dt.day
new_crime_df['month'] = new_crime_df['Arrest Date'].dt.month
new_crime_df['year'] = new_crime_df['Arrest Date'].dt.year
new_crime_df

,Arrest Date,Age,Sex Code,Charge Description,LAT,LON,day,month,year
1970-01-01 00:00:00.000000000,2014-01-01,36,M,NaN,34.0596,-118.2749,1,1,2014
1970-01-01 00:00:00.000000001,2014-01-01,36,M,NaN,33.9947,-118.4805,1,1,2014
1970-01-01 00:00:00.000000002,2014-01-01,26,M,NaN,34.1504,-118.4296,1,1,2014
1970-01-01 00:00:00.000000003,2014-01-01,21,M,NaN,33.9913,-118.4775,1,1,2014
1970-01-01 00:00:00.000000004,2014-01-01,20,M,NaN,33.9875,-118.4741,1,1,2014
...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000680958,2019-12-31,26,M,TRANSPORT/SELL/ETC CONTROLLED SUBSTANCE,34.3039,-118.4789,31,12,2019
1970-01-01 00:00:00.000680959,2019-12-31,44,M,DRUNK DRIVING ALCOHOL/DRUGS,34.0994,-118.2035,31,12,2019
1970-01-01 00:00:00.000680960,2019-12-31,22,M,OBSTRUCT/RESIST EXECUTIVE OFFICER,34.1792,-118.6233,31,12,2019
1970-01-01 00:00:00.000680961,2019-12-31,26,M,WARRANT-PETITION TO REVOKE COMMUNITY SUPVN,34.1576,-118.4052,31,12,2019
1970-01-01 00:00:00.000680962,2019-12-31,47,M,POSSESSION OF CONTROLLED SUBSTANCE,34.1837,-118.4465,31,12,2019

In [79]:
drop_new=new_crime_df.drop(columns=['Arrest Date','day','month','LAT','LON'])
drop_new

,Age,Sex Code,Charge Description,year
1970-01-01 00:00:00.000000000,36,M,NaN,2014
1970-01-01 00:00:00.000000001,36,M,NaN,2014
1970-01-01 00:00:00.000000002,26,M,NaN,2014
1970-01-01 00:00:00.000000003,21,M,NaN,2014
1970-01-01 00:00:00.000000004,20,M,NaN,2014
...,...,...,...,...
1970-01-01 00:00:00.000680958,26,M,TRANSPORT/SELL/ETC CONTROLLED SUBSTANCE,2019
1970-01-01 00:00:00.000680959,44,M,DRUNK DRIVING ALCOHOL/DRUGS,2019
1970-01-01 00:00:00.000680960,22,M,OBSTRUCT/RESIST EXECUTIVE OFFICER,2019
1970-01-01 00:00:00.000680961,26,M,WARRANT-PETITION TO REVOKE COMMUNITY SUPVN,2019
1970-01-01 00:00:00.000680962,47,M,POSSESSION OF CONTROLLED SUBSTANCE,2019

In [99]:
drop2=drop_new.dropna()
drop2

,Age,Sex Code,Charge Description,year
1970-01-01 00:00:00.000000017,20,F,BATTERY ON PERSON,2014
1970-01-01 00:00:00.000000018,59,M,DRINKING IN PUBLIC,2014
1970-01-01 00:00:00.000000019,41,M,DRINKING IN PUBLIC,2014
1970-01-01 00:00:00.000000020,44,M,DRINKING IN PUBLIC,2014
1970-01-01 00:00:00.000000021,35,M,SELL LIQUOR W/O LICENSE,2014
...,...,...,...,...
1970-01-01 00:00:00.000680958,26,M,TRANSPORT/SELL/ETC CONTROLLED SUBSTANCE,2019
1970-01-01 00:00:00.000680959,44,M,DRUNK DRIVING ALCOHOL/DRUGS,2019
1970-01-01 00:00:00.000680960,22,M,OBSTRUCT/RESIST EXECUTIVE OFFICER,2019
1970-01-01 00:00:00.000680961,26,M,WARRANT-PETITION TO REVOKE COMMUNITY SUPVN,2019
1970-01-01 00:00:00.000680962,47,M,POSSESSION OF CONTROLLED SUBSTANCE,2019

In [100]:
drop2.to_csv('Crime_sort_by_year.csv')

In [ ]:
crimes_year_df = drop2.groupby("year").count()
crimes_year_df.head()